.wholePage {
    margin: 0 auto;
    align-self: center;
}


.search input {
    width: 200px;
    height: 50px;
    font-size: 32px;

}

.search input[name="search"] {
    width: 400px;
}

.results {
    margin: 0 auto;
}