* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.mainNav {
  height: 50px;
  background-color: black;
  color: antiquewhite;
  padding: 20px;
}

.mainNav ul li {
  list-style: none;
  margin-left: 20px;
}

.mainNav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.mainNav a:active {
  font-weight: bold;
}
